
     <div>
       <table class="table table-bordered">
        <thead>
          <tr>
            <th>投稿数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%=count%></th>
          </tr>
        </tbody>
      </table>
     </div>